@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


body {
	margin: 0;

}

header {
	background-color: black;
	color: white;
	height: 50px;
	padding: 8px 0px 6px 40px;
}

header h1 {
	font-family: 'Oswald', sans-serif;
	color: white;
	display: inline;
	font-weight: 400;
	font-size: 32px;
	margin-top:0px;
	margin-right: 700px;
	float: left;
}

#h11:hover {
	color: orange;
	
}

nav ul {
	display: inline;
	float: left;
	padding: 0;
}

nav ul li  {
	display: inline-block;
	color: white;
	list-style-type: none;
	float: left;
	margin-left: 20px;
}

nav ul li a {
	color: white;
	text-decoration: none;
    
}


#ul1 {
	font-family: 'Montserrat', sans-serif;

}

.home:hover {
	color: yellow;
}
.college:hover {
	color: yellow;
}
.exam:hover {
	color: yellow;
}
.news:hover {
	color: yellow;
}

.fwimage {
	background-image: url(img/student.jpg);
	height:50em;
	width:100%;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.divider {
	height:2px;
	background-color: red;
}

.newh {
   font-family: 'Dosis', sans-serif;
   color: #605d5d;
   font-size: 20px;
   margin-left: 80px;
}


.datebox1 {
	  margin-left: 80px;
	  margin-right:1200px;	
	font-size: 14px;

	 font-family: 'Dosis', sans-serif;
	color: #605d5d;
    border: 1px solid black;
   
    background-color: #d9dde2;
    text-decoration: none;
    padding: 8px 25px 8px 10px;
    transition: all 1s;
    border-radius: 35px;

}
.datebox1:hover {
	background-color:#3498db;
	transition: all 1s;
}

.datebox2 {
	  margin-left: 80px;
	  margin-right:1180px;	
	font-size: 14px;

	 font-family: 'Dosis', sans-serif;
	color: #605d5d;
    border: 1px solid black;
   
    background-color: #d9dde2;
    text-decoration: none;
    padding: 8px 25px 8px 10px;
    transition: all 1s;
    border-radius: 35px;

}
.datebox2:hover {
	background-color:#3498db;
	transition: all 1s;
}


.newsheading {
	font-family: 'Dosis', sans-serif;
   color: #605d5d;
   font-size: 20px;
   margin-left: 80px;

}




.boxx {
    width: 500px;
    border: 1px ;
    border-color:#edeff2;
    border-style: solid;
    padding: 10px 50px 10px 10px;
    margin-left: 80px;
}

.newsdata {
  font-family: 'Philosopher', sans-serif;
  color: #605d5d;
   font-size: 16px;
}

.linker {
	font-family: 'Philosopher', sans-serif;
	text-decoration: none;
	font-size: 18px;
	color: red;
}

.linker:hover {
	color: blue;
}



#table {
  width: 90%;
  border: 0px;
  margin: 0px 0px 0px 50px;
     text-align: left;
     color: #605d5d;
     position: 0px 0px 0px 30px;
}

#lower1 {
  background-color: white;
  height: 170px;
}

.asd {
  color: #605d5d;
  text-decoration: none;
}

#lower2 {
   width: 90%;
  border: 1px;
  margin: 0px 0px 0px 50px;
}

hr {
  color: #605d5d;
}